body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a:link{
    color: blue;
}
a:visited{
    color: coral;
}
a:hover{
    color: hotpink;
}
a:active{
    color: green;
}
table,th,tr,td,caption{
    border: 1px solid #333;
    padding: 0.5em;

    /* border-collapse: collapse; */

}